* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

}

body {
  font-size: 16px;
  letter-spacing: .05em;
  color: #222222;
}

section {
  padding: 80px 0;
}

section p {
  text-align: justify;
  text-justify: inner-word;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.vertical-centered {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}

.separator {
    position: relative;
    margin-bottom: 1.0em;
    padding-bottom: 1.0em;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: inherit;
}

.separator:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 86px;
    height: 2px;
    background-color: #222;

    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.separator.orange:before {
    background-color: #d87843;
}

.contact {
    margin-bottom: 40px;
}

.contact-us-form textarea {
    min-height: 120px;
}

.services {
    padding-bottom: 40px;
}

.service {
    padding: 10px;
    background-color: #f8f8f8;
    height: 160px;
    text-align: center;
}

.service p {
    text-align: center;
}

.footer {
  background-color: #222222;
  color: white;
}

.about {
    margin-bottom: 40px;
}

.img-circle {
    border-radius: 120px;
    border: 1px solid #222222;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;

    background-image: url('../images/photo.jpg');
    background-size: cover;
    /* background-color:black; */
    width: 200px;
    height: 200px;
}
